<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>Информационный пост</title>
</head>
<body>

<form  method="post" th:action="${'/blog/info/result'}">
    <input class="type-1" type="text" name="name" placeholder="Неточный поиск">
    <button type="submit">Найти</button>
    <div th:each="el : ${result}">
        <hr>
        <h3 th:text="${el.shapka}"></h3>
        <h2 th:text="${el.name}"></h2>
        <a th:href=" '/blog/' + ${el.id}">Подробнее</a>
        <hr>
    </div>
</form>

<form method="post" th:action="${'/blog/info/resultnocon'}">
    <input class="type-1" type="text" name="name" placeholder="Точный поиск">
    <button type="submit">Найти</button>
    <div th:each="el : ${resultnocon}">
        <hr>
        <h3 th:text="${el.shapka}"></h3>
        <h2 th:text="${el.name}"></h2>
        <a th:href=" '/blog/' + ${el.id}">Подробнее</a>
        <hr>
    </div>
</form>

<form th:action="${'/blog/info'}" method="post">
    <div th:each="el : ${infos}">
        <hr>
        <h3 th:text="${el.shapka}"></h3>
        <h2 th:text="${el.name}"></h2>
        <a th:href=" '/blog/info/' + ${el.id}">Подробнее</a>
        <hr>
    </div>
</form >

<div th:each="el : ${info}" method="post">

    <form th:action="${'/blog/info'}" th:object="${info}" method="post">

        <input th:field="*{shapka}" class="type-1" type="text" name="shapka" placeholder="Введите Заголовок поста">
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('shapka')}" th:errors="*{shapka}"></div>
        <input th:field="*{name}" class="type-1" type="text" name="name" placeholder="Введите Имя поста">
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <input th:field="*{inform}" class="type-1"  type="text" name="inform" placeholder="Введите информацию о посте">
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('inform')}" th:errors="*{inform}"></div>
        <input th:field="*{maintext}" class="type-1"  type="number" name="maintext" placeholder="Введите текст поста">
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('maintext')}" th:errors="*{maintext}"></div>
        <input th:field="*{stat}" class="type-1"  type="number" name="stat" placeholder="Введите количество просмотров">
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('stat')}" th:errors="*{stat}"></div>

        <br>
        <br>
        <button type="submit">Добавить новую статью</button>

    </form>

</div>


</body>
</html>

