<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>Читатель</title>
    <link>
</head>
<body bgcolor="#696969" th:align="center">
<h1>Читатели</h1>
<a href="/blog/usermain/useradd">Создать читателя</a>
<form th:action="${'/blog/usermain'}" method="post">
    <div th:each="el : ${users}">
        <hr>
        <h3 th:text="${el.username}"></h3>
        <h2 th:text="${el.password}"></h2>
        <p th:text="${el.phone}"></p>
        <a th:href=" '/blog/usermain/' + ${el.id}">Подробнее</a>
<!--        <p th:text="${el.checks}"></p>-->
<!--        <p th:text="${el.accesss}"></p>-->
        <hr>
    </div>
</form >
</body>
</html>
