<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<div th:each="el : ${user}">
    <form th:object="${user}" method="post">

        <input th:field="*{username}" class="type-1" th:value="${el.username}" type="text" name="username" placeholder="Введите Заголовок поста"><br><br>
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('username')}" th:errors="*{username}"></div><br>
        <input th:field="*{password}" class="type-1" th:value="${el.password}" type="text" name="password" placeholder="Введите Имя поста"><br><br>
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('password')}" th:errors="*{password}"></div><br>
        <input th:field="*{phone}" class="type-1" th:value="${el.phone}" type="text" name="phone" placeholder="Введите информацию о посте"><br><br>
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('phone')}" th:errors="*{phone}"></div><br>
        <input th:field="*{checks}" class="type-1" th:value="${el.checks}" type="number" name="checks" placeholder="Введите текст поста"><br><br>

        <label>Заблокированный
            <input th:field="*{accesss}" class="type-2" type="radio" name="accesss" value="0" th:checked="${!el.accesss}">
            <span></span>
        </label>

        <label>Подверждённый
            <input th:field="*{accesss}" class="type-2" type="radio" name="accesss" value="1" th:checked="${el.accesss}">
            <span></span>
        </label><br>
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('accesss')}" th:errors="*{accesss}"></div>


        <br>
        <br>
        <button type="submit">Добавить читателя</button>

    </form>
</div>

</body>
</html>

