<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<div th:each="el : ${info}">
    <form th:object="${info}" method="post">

        <input th:field="*{shapka}" class="type-1" th:value="${el.shapka}" type="text" name="shapka" placeholder="Введите Заголовок поста">
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('shapka')}" th:errors="*{shapka}"></div><br><br>
        <input th:field="*{name}" class="type-1" th:value="${el.name}" type="text" name="name" placeholder="Введите Имя поста">
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('name')}" th:errors="*{name}"></div><br><br>
        <input th:field="*{inform}" class="type-1" th:value="${el.inform}" type="text" name="inform" placeholder="Введите информацию о посте">
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('inform')}" th:errors="*{inform}"></div><br><br>
        <input th:field="*{maintext}" class="type-1" th:value="${el.maintext}" type="number" name="maintext" placeholder="Введите текст поста">
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('maintext')}" th:errors="*{maintext}"></div><br><br>
        <input th:field="*{stat}" class="type-1" th:value="${el.stat}" type="number" name="stat" placeholder="Введите количество просмотров"><br>
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('stat')}" th:errors="*{stat}"></div><br><br>
        <br>
        <br>
        <button type="submit">Добавить новую статью</button>

    </form>
</div>

</body>
</html>