<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div align="center">
  <form th:action="${'/blog/carmain/car-park/car-park-add'}" method="post">
    <select name="cars">
      <div th:each="element : ${carss}">
        <option th:text="${element.namecar}"></option>
      </div>
    </select>
    <select name="parkings">
      <div th:each="element : ${parkingss}">
        <option th:text="${element.rack}"></option>
      </div>
    </select>
    <br>
    <button type="submit">Прикрепить</button>
  </form>
</div>

</body>
</html>
