<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>CarMain</title>
</head>
<body>
<h1>Машины</h1>
<a href="/blog/carmain/caradd">Создать машину</a>
<a href="/blog/carmain/markaadd">Создать марку</a>
<a href="/blog/carmain/garageadd">Создать гаражное место</a>
<a href="/blog/carmain/parkingadd">Создать стоянки</a>
<a href="/blog/carmain/car-park">Стоянки</a>
<form th:action="${'/blog/carmain'}" method="post">
    <div th:each="el : ${cars}">
        <hr>
        <h3 th:text="${el.nomer}"></h3>
        <h3 th:text="${el.namecar}"></h3>
        <h3 th:text="${el.marka.nameMarka}"></h3>
        <hr>
    </div>
</form >

</body>
</html>
